.ant-select.select-after.ant-select-single.ant-select-show-arrow{
    width: 98%;
}
.ant-input{
    width: 98%;
}
.select{
    text-align: center;
    width: 430px;
    border: 1px solid #1DA57A;
    border-radius: 10px;
}
.intro{
    float: left;
    padding-left: 10px;
}
.bt{
    margin: 5px 0px, 0px, 50px;
    padding: 5px 0px 5px 0px;
    margin-left: 185px;
}
.ant-btn.ant-btn-primary.ant-btn-round.ant-btn-sm{
    margin: 0px 0px 0px 3px;
}