.ant-select.select-after.ant-select-single.ant-select-show-arrow{
    width: 250px;
}
.select{
    text-align: center;
    width: 430px;
    border: 1px solid #1DA57A;
    border-radius: 10px;
}
.intro{
    float: left;
    padding-left: 10px;
}
.bt{
    margin: 5px 0px, 0px, 50px;
    padding: 5px 0px 5px 0px;
}