.view{
    display: flex;
    margin: auto;
    padding: 2px;
    padding-top: 20px;
}

.view .v{
    height: 342px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
}

.conten{
    display: flex;
    margin: auto;
    /* border:1px solid #9ea7d8; */
    padding: 2px;
    /* border-radius: 5px; */
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}

.upload .fromupload{
    width: 100%;
    border: 1px solid black;
    text-align: center;
    margin-right: 10px;
    border-radius: 10px;
}

.upload .title{
    text-align: left;
    padding-left: 20px;
}